<!--
  This template loads for the 'tab.list-detail' state (app.js)
  'imageItem' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The ListCtrl pulls data from the ImageService service (service.js)
  The ImageService service returns an array of image data
-->

<link href="yolo.css">

<ion-view title="Hillcycle" class="custom">
    <ion-content  class="center" >
       
       <br/>
       <br/>
       <br/>
       <br/>
       <br/>

      <div class="card">
        <div class="item item-text-wrap">
          

          Swipe Reserved! 
        </div>
      </div>

  <button class="button button-clear button-balanced button-block" ui-sref='tab.list'>
        ok, wonderful ^_^
    </button>

</ion-view>

