
<ion-view title="New Item">
    <ion-content padding="true" class="has-header">
 
    	<form>
            <div class="list">
                <label class="item item-input ">
                    <input type="text" placeholder="Color" ng-model="particulars.colour">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Detail" ng-model="particulars.detail">
                </label>
            </div>

            <p> Location </p>
               <ul class="list">

              <li class="item item-checkbox">
                 <label class="checkbox">
                   <input type="checkbox">
                 </label>
                 Blackburn Cafe


              </li>
              

            </ul>
            <ul class="list">

              <li class="item item-checkbox">
                 <label class="checkbox">
                   <input type="checkbox">
                 </label>
                 Annex Cafe


              </li>

            </ul>

             <div st-timepicker st-time="time.starttime" st-class="button button-calm">
                Select Time
             </div>

             <a  ng-click="createNew()"  class="button button-outline button-balanced button-block">Add</a>

        </form>

    </ion-content>
</ion-view>
