<ion-view ng-controller="LoginController" title="Hillcycle">
    <ion-nav-buttons side="left">
        <button class="button" ui-sref='tab.newItem'>
            New Item
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="doLogoutAction()">
            Logout
        </button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <ion-refresher on refresh="doRefresh()"></ion-refresher>
                </br>                

                Breakfast Posts
                <ion-item >
                    <ion-list ng-repeat="photo in photoList" 
                    ui-sref = 'tab.list-detail({itemId: photo.id})' >
                        <a ng-if="photo.attributes.breakfast">
                            <strong> from {{photo.attributes.createdBy}} </strong>
                        <hr>
                         </a>   
                    </ion-list>
                </ion-item>
                </br> 
                Lunch Posts
                <ion-item >
                    <ion-list 
                    ng-repeat="photo in photoList" 
                    ui-sref = 'tab.list-detail({itemId: photo.id})' >
                        <a ng-if="photo.attributes.lunch">
                            <strong> from {{photo.attributes.createdBy}} </strong>
                        <hr>
                         </a>                
                    </ion-list>
                </ion-item>
                </br> 
                Dinner Posts
                <ion-item >
                    <ion-list
                     ng-repeat="photo in photoList" 
                    ui-sref = 'tab.list-detail({itemId: photo.id})' >
                        <a ng-if="photo.attributes.dinner">
                            <strong> from {{photo.attributes.createdBy}} </strong>
                        <hr>
                        </a>                
                    </ion-list>
                </ion-item>
            
    </ion-content>
</ion-view>



