<ion-view title="Account Settings">
    </ion-nav-buttons>
    <ion-content class="padding" has-header="true" >
    
        <!--ion-item>
            <pre>{{user | json}}</pre>
        </ion-item-->
        <ion-item>
        	<div class="item item-text-wrap">
            	<pre>{{user.attributes.first_name + " "
                    + user.attributes.last_name}}</pre>
            </div>
    	</ion-item>

        </br>
        Current Posts: 
        </br>
        </br>

        <ion-list can-swipe="true">

            <ion-item class="item item-thumbnail-left"
             ng-repeat="photo in userPhotoList" 
             type="item-text-wrap" ng-if="photo.attributes.breakfast">

                <pre > 
                    breakfast at cafe 
                  <!--  delete does remove entry from parse!
              -->
                </pre>
                <ion-option-button class="button button-balanced button-block" ng-click="doDeleteItem(photo)">
                    DELETEed
                </ion-option-button>
            </ion-item>


            <ion-item class="item item-thumbnail-left"
             ng-repeat="photo in userPhotoList" 
             type="item-text-wrap" ng-if="photo.attributes.lunch">

                lunch at  cafe
                            
                <!-- delete does remove entry from parse!
              -->            
                <!--pre>{{photo.attributes.colors}}  </pre -->
                <ion-option-button class="button button-balanced button-block" ng-click="doDeleteItem(photo)">
                    DELETEed
                </ion-option-button>
            </ion-item>

            <ion-item class="item item-thumbnail-left"
             ng-repeat="photo in userPhotoList" 
             type="item-text-wrap" ng-if="photo.attributes.dinner">

                Dinner at  cafe
                <!-- 

              -->
                <!--pre>{{photo.attributes.colors}}</pre-->
                <ion-option-button class="button button-balanced button-block" ng-click="doDeleteItem(photo)">
                    DELETEed
                </ion-option-button>
            </ion-item>



        </ion-list>

        <button class="button button-outline button-balanced button-block icon icon-left ion-gear-a" ui-sref='tab.update-account'>
        Open Account Settings
    </button>


    </ion-content>
</ion-view>
