<ion-view title="Update User Information">
    <ion-content padding="true" scroll="true" class="has-header">
        
        <form>
            <ion-list>

                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder=""  ng-model="tempCreds.first_name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last Name" ng-model="creds.last_name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="email address" ng-model="creds.email">
                </label>

            </ion-list>
            <button class="button button-stable button-block"
                    ng-click="signUpUser()">Save</button>
        </form>

    </ion-content>
</ion-view>